streamlit
pandas
numpy
langchain
langchain-groq
langgraph
plotly
scipy
python-dotenv
pydantic
networkx
python-louvain
streamlit-antd-components
streamlit-float
audio-recorder-streamlit
reportlab
fpdf
kaleido